{% extends 'base.html' %}
{% block title %}catalog{% endblock %}
{% block container %}
    {% if hotels %}
        {% for hotel in hotels %}
        <div class="row">
            <div class="col-sm-5 col-md-5 blog-main">
                <div class="sidebar-module sidebar-module-inset">
                    <br/>
                    <a href="" >
                        <img src="\media\{{ hotel.img }}" class="img-responsive">
                    </a>
                </div>
            </div>

            <div class="col-sm-5 col-md-6 col-sm-offset-1 blog-sidebar">
                <div class="sidebar-module sidebar-module-inset">
                    <a href="#" ><h2>{{ hotel.name }}</h2></a>
                    <p>{{ hotel.description }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    {% endif %}
{% endblock %}